include ../layout/header.pug
section.section.main-block
    .main-block__container
        h2 Процесс реализации вашего мобильного приложения
    a(href='#')
    svg(width='100%' height='180' viewBox='0 0 1920 280' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M762.036 1901.86C904.633 1948.03 1086.34 1999.58 1220.9 1960.54C1341.03 1925.68 1481.91 1804.94 1576.53 1724.38C1718.9 1603.16 1826.25 1481.5 1876.97 1243.81C1919.02 1046.75 1860.34 922.616 1782.47 759.318C1755.19 702.111 1725.91 508.182 1585.2 388.972C1478.29 298.404 1422.35 208.529 1201.55 200.92C1072.03 173.281 920.544 208.039 772.643 194.097C568.595 174.863 579.171 231.892 369.511 267.713C159.851 303.535 198.414 693.732 159.25 877.265C99.9473 1155.17 207.375 1315.84 321.049 1501.31C442.385 1699.29 406.681 1786.79 762.036 1901.86Z' fill='#ECF1FF')
    <svg width="100%" height="125" viewBox="0 0 1100 370" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1168.51 1197.88C1214.96 1076.21 1267.83 920.851 1239.98 802.341C1215.11 696.545 1116.65 568.895 1050.99 483.181C952.18 354.218 851.421 255.622 647.444 200.967C478.33 155.653 367.991 201.008 222.807 261.272C171.946 282.383 2.35988 299.1 -107.382 415.862C-190.756 504.568 -271.247 549.087 -287.738 740.342C-317.52 851.491 -294.143 984.492 -312.863 1112.2C-338.691 1288.4 -288.732 1281.77 -267.038 1465.3C-245.343 1648.83 94.9651 1632.84 252.465 1675.05C490.95 1738.95 635.18 1652.93 801.208 1562.6C978.427 1466.17 1052.75 1501.07 1168.51 1197.88Z" fill="#ECF1FF"/>
    </svg>
section.slider
    .container
        .slider__container
            aside
                ul
                    li.active.active-blue
                        span 01
                        span Проводим интервью
                    li.second-link
                        span.number-gray 02
                        span Фиксируем пожелания
                    li.third-link
                        span.number-gray 03
                        span Проводим исследования
                    li.last-link
                        span.number-gray 04
                        span Оцениваем вашу задачу...
            .slider__wrap
                img(src='./images/content/slider/slide-1.svg' alt='slide-1' width='678px' height='636px')
                .slider__text
                    h3 Проводим интервью
                    p На старте мы обсудим ваш проект по телефону или скайпу, чтобы познакомиться с вашим бизнесом.
        aside.footer
            .footer__notice
                .footer__number 
                    span.footer__notice--big 2/
                    span.footer__notice--small 7
                .footer__text Процесс реализации вашего мобильного приложения
            .footer__feedback
                a(href='#') Отзыв CEO Ruward
                    .footer__img
                        svg(width='21' height='32' viewBox='0 0 21 32' fill='none' xmlns='http://www.w3.org/2000/svg')
                            rect(x='1' y='1' width='19' height='29.1613' rx='9.5' stroke='#3D64F0' stroke-width='2')
                            path(d='M10.8389 8.80664V14.226' stroke='#3D64F0' stroke-width='2' stroke-linecap='round')
                        svg(width='36' height='48' viewBox='0 0 36 48' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M31.4288 19.6388H31.3627C30.4466 19.6421 29.5661 19.9944 28.9006 20.6236C28.3812 19.106 27.0035 18.0188 25.3849 18.0188C24.3823 18.0319 23.4296 18.4572 22.7514 19.1953C22.1386 17.9022 20.8731 17.0351 19.4144 17.0351H19.3439C18.5044 17.0351 17.6872 17.2851 17.1292 17.782V8.58735C17.1292 6.41374 15.4438 4.64551 13.3868 4.64551C11.332 4.64551 9.65309 6.41229 9.65164 8.58445L9.63566 26.7688L8.53251 25.4277C7.64475 24.3224 6.33747 23.6359 4.92375 23.532C3.53836 23.4372 2.1755 23.9196 1.15807 24.8647L0.269233 25.6021C-0.000652004 25.8258 -0.0776581 26.2076 0.0839822 26.5182L8.72793 43.1137C10.3004 46.1348 13.2916 48.0004 16.5342 48.0004H26.2294C31.1458 48.0004 35.1498 43.7508 35.1549 38.5133C35.157 36.1734 35.1596 34.4327 35.161 33.015C35.1661 29.1978 35.1679 27.7706 35.1581 23.5687C35.153 21.4009 33.4803 19.6388 31.4288 19.6388ZM33.6732 33.0187C33.6718 34.4364 33.6692 36.1719 33.667 38.5119C33.6627 42.9296 30.3263 46.5125 26.2294 46.5125H16.5342C13.8481 46.5125 11.3625 44.9539 10.0472 42.4272L1.68041 26.3587L2.12138 25.9962C2.13082 25.9882 2.14063 25.9813 2.14971 25.9726C2.86783 25.297 3.83476 24.9501 4.81877 25.0158C5.82385 25.0928 6.75228 25.5843 7.38104 26.3725L9.79984 29.3173C9.99926 29.5599 10.3294 29.6511 10.6251 29.5454C10.9208 29.4397 11.1184 29.1596 11.1188 28.8454L11.1329 8.5859C11.1336 7.23393 12.1518 6.13369 13.3875 6.13369C14.6229 6.13369 15.6414 7.2343 15.6414 8.58735V20.8045C15.6414 20.8466 15.6396 20.8887 15.6396 20.9312C15.6396 20.9498 15.6414 20.9672 15.6414 20.985V26.2094C15.6414 26.6202 15.9745 26.9533 16.3853 26.9533C16.7961 26.9533 17.1292 26.6202 17.1292 26.2094V20.8295C17.1292 19.524 18.1394 18.523 19.3439 18.523H19.4144C20.6501 18.523 21.6857 19.5789 21.6857 20.9323V25.7111C21.6857 26.1219 22.0188 26.455 22.4296 26.455C22.8404 26.455 23.1735 26.1219 23.1735 25.7111V21.9614C23.1735 20.6083 24.1658 19.5073 25.4088 19.5073C26.6449 19.5073 27.6369 20.6083 27.6369 21.9614V25.4989C27.6369 25.9097 27.97 26.2428 28.3808 26.2428C28.7917 26.2428 29.1248 25.9097 29.1248 25.4989V23.5836C29.1248 22.2302 30.1266 21.1266 31.3627 21.1266H31.4288C32.6616 21.1266 33.6674 22.2258 33.6703 23.5749C33.6801 27.7742 33.6783 29.2032 33.6732 33.0187Z' fill='#3D64F0')
                            path(d='M3.27523 2.52858L3.27523 17.4496C3.27523 17.8605 3.60832 18.1935 4.01914 18.1935C4.42996 18.1935 4.76305 17.8605 4.76305 17.4496L4.76305 2.55074L6.46954 4.25722C6.76049 4.54491 7.22906 4.54346 7.51856 4.25396C7.8077 3.96482 7.80915 3.49624 7.52147 3.20529L4.53421 0.217669C4.24362 -0.0725567 3.77251 -0.0725567 3.48228 0.217669L0.49502 3.20529C0.305047 3.39272 0.230221 3.66769 0.298873 3.92559C0.367162 4.18349 0.568758 4.38472 0.826656 4.45337C1.08455 4.52202 1.35916 4.4472 1.54695 4.25722L3.27523 2.52858Z' fill='#3D64F0')  