section.slider-2
    .container
        .slider__container
            aside
                ul.text-white
                    li.second-link 
                        span 01
                        span Проводим интервью
                    li.active 
                        span 02
                        span Фиксируем пожелания
                    li.second-link  
                        span 03
                        span Проводим исследования
                    li.third-link
                        span 04
                        span Оцениваем вашу задачу...
                    li.last-link
                        span 05
                        span Консультируем и предлагаем...
            .slider__wrap
                img(src="./images/content/slider/slide-2.svg", alt="slide-2" width="627px" heidht="622px")
                .slider__text
                    h3.text-white Фиксируем пожелания
                    p.text-white Резюмируем в письме бизнес-процесс, ожидания и требования по проекту.
section.slider
    .container
        .slider__container
            aside
                ul.list
                    li.third-link
                        span.number-gray 01
                        span Проводим интервью
                    li.second-link
                        span.number-gray 02
                        span Фиксируем пожелания
                    li.active.active-blue
                        span 03
                        span Проводим исследования
                    li.second-link
                        span.number-gray 04
                        span Оцениваем вашу задачу...
                    li.third-link
                        span.number-gray 05
                        span Консультируем и предлагаем...
                    li.last-link
                        span.number-gray 06
                        span Подбираем потенциальных...
            .slider__wrap
                img(src="./images/content/slider/slide-3.svg", alt="slide-3" width="682px" heidht="622px")
                .slider__text
                    h3 Проводим исследования
                    p Определяем вашу целевую аудиторию и её потребности, за счёт чего будем лучше конкурентов решать её потребности.
section.slider-4
    .container
        .slider__container
            aside
                ul.text-white
                    li.last-link
                        span 01
                        span Проводим интервью
                    li.third-link
                        span 02
                        span Фиксируем пожелания
                    li.second-link  
                        span 03
                        span Проводим исследования
                    li.active
                        span 04
                        span Оцениваем вашу задачу и определяем стек технологий
                    li.second-link 
                        span 05
                        span Консультируем и предлагаем...
                    li.third-link
                        span 06
                        span Подбираем потенциальных...
                    li.last-link
                        span 07
                        span Партнёры готовят коммерческие...
            .slider__wrap
                img(src="./images/content/slider/slide-4.svg", alt="slide-4" width="727px" heidht="622px")
                .slider__text
                    h3.text-white.big-title Оцениваем вашу задачу и определяем стек технологий
                    p.text-white Подберем какой подход — нативный, кроссплатформенный или гибридный — подходит вашему мобильному приложению. Порекомендуем фреймворки и заложим прочный фундамент для масштабирования вашего проекта.
section.slider
    .container
        .slider__container
            aside
                ul.slider-list
                    li.last-link
                        span.number-gray 02
                        span Фиксируем пожелания
                    li.third-link
                        span.number-gray 03
                        span Проводим исследования
                    li.second-link 
                        span.number-gray 04
                        span Оцениваем вашу задачу...
                    li.active.active-blue
                        span 05
                        span Консультируем и предлагаем решения
                    li.second-link 
                        span.number-gray 06
                        span Подбираем потенциальных...
                    li.third-link
                        span.number-gray 07
                        span Партнёры готовят коммерческие...
                    li.last-link
                        span.number-gray 08
                        span Вы выбираете подрядчика
            .slider__wrap
                img(src="./images/content/slider/slide-5.svg", alt="slide-5" width="677px" heidht="622px")
                .slider__text
                    h3.big-title Консультируем и предлагаем решения
                    p Рассказываем про оцифровку процессов вашего бизнеса и роли каждого инструмента.
section.slider-6
    .container
        .slider__container
            aside
                ul.text-white
                    li.last-link
                        span 03
                        span Проводим исследования
                    li.third-link
                        span 04
                        span Оцениваем вашу задачу...
                    li.second-link 
                        span 05
                        span Консультируем и предлагаем...
                    li.active
                        span 06
                        span Подбираем потенциальных исполнителей
                    li.second-link 
                        span 07
                        span Партнёры готовят коммерческие...
                    li.third-link
                        span 08
                        span Вы выбираете подрядчика
                    li.last-link
                        span 09
                        span Разработка проекта
            .slider__wrap
                img(src="./images/content/slider/slide-6.svg", alt="slide-6" width="668px" heidht="622px")
                .slider__text
                    h3.text-white.big-title Подбираем потенциальных исполнителей
                    p.text-white Из 200 наших партнёров находим для вас 3–5 компаний, которые подходят под согласованные с вами требования и имеют реальный опыт в реализации похожих работ.
section.slider
    .container
        .slider__container
            aside
                ul.slider-list
                    li.last-link
                        span.number-gray 04
                        span Оцениваем вашу задачу...
                    li.third-link
                        span.number-gray 05
                        span Консультируем и предлагаем...
                    li.second-link 
                        span.number-gray 06
                        span Подбираем потенциальных...
                    li.active.active-blue
                        span 07
                        span Партнёры готовят коммерческие предложения
                    li.second-link 
                        span.number-gray 08
                        span Вы выбираете подрядчика
                    li.third-link
                        span.number-gray 09
                        span Разработка проекта
                    li.last-link
                        span.number-gray 10
                        span Релиз
            .slider__wrap
                img(src="./images/content/slider/slide-7.svg", alt="slide-6" width="668px" heidht="622px")
                .slider__text
                    h3.big-title Партнёры готовят коммерческие предложения
                    p Коллеги изучают вашу задачу, готовят решение и оценку реализации проекта.
section.slider-8
    .container
        .slider__container
            aside
                ul.text-white
                    li.last-link
                        span 05
                        span Консультируем и предлагаем...
                    li.third-link
                        span 06
                        span Подбираем потенциальных...
                    li.second-link
                        span 07
                        span Партнёры готовят коммерческие...
                    li.active
                        span 08
                        span Вы выбираете подрядчика
                    li.second-link
                        span 09
                        span Разработка проекта
                    li.third-link
                        span 10
                        span Релиз
                    li.last-link 
                        span 11
                        span Поддержка и развитие...
            .slider__wrap
                img(src="./images/content/slider/slide-8.svg", alt="slide-6" width="668px" heidht="622px")
                .slider__text
                    h3.text-white Вы выбираете подрядчика
                    p.text-white Вы общаетесь с партнёрами, знакомитесь с их предложениями и принимаете решение с кем готовы к сотрудничеству.
section.slider.slider-9
    .container
        .slider__container
            aside
                ul
                    li.last-link
                        span.number-gray 06
                        span Подбираем потенциальных...
                    li.third-link
                        span.number-gray 07
                        span Партнёры готовят коммерческие...
                    li.second-link
                        span.number-gray 08
                        span Вы выбираете подрядчика
                    li.active.active-blue
                        span 09
                        span Разработка проекта
                    li.second-link
                        span.number-gray 10
                        span Релиз
                    li.third-link
                        span.number-gray 11
                        span Поддержка и развитие...
            .slider__wrap
                img(src="./images/content/slider/slide-9.svg", alt="slide-6" width="668px" heidht="622px")
                .slider__text
                    h3 Разработка проекта
                    p Увлекательное путешествие в мир разработки вашего мобильного приложения.
section.slider-10
    .container
        .slider__container
            aside
                ul.text-white
                    li.last-link
                        span 07
                        span Партнёры готовят коммерческие...
                    li.third-link
                        span 08
                        span Вы выбираете подрядчика
                    li.second-link
                        span 09
                        span Разработка проекта
                    li.active
                        span 10
                        span Релиз
                    li.second-link
                        span 11
                        span Поддержка и развитие...
            .slider__wrap
                .slider__img
                .slider__text
                    h3.text-white Релиз
                    p.text-white Запуск проекта и первые пользователи!
section.slider
    .container
        .slider__container
            aside
                ul.slider-11
                    li.last-link
                        span.number-gray 08
                        span Вы выбираете подрядчика
                    li.third-link
                        span.number-gray 09
                        span Разработка проекта
                    li.second-link
                        span.number-gray 10
                        span Релиз
                    li.active.active-blue
                        span 11
                        span Поддержка и развитие мобильного приложения
            .slider__wrap
                img(src="./images/content/slider/slide-11.svg", alt="slide-11" width="668px" heidht="622px")
                .slider__text
                    h3.big-title Поддержка и развитие мобильного приложения
                    p Поможем безболезненно масштабировать или подобрать другую команду для развития вашего проекта и увеличения продаж!